#images{
    max-width:200px;
    max-height:auto;
}

html {
    scroll-behavior: smooth;
}

.header-logo{
    font-size: 24px;
    color: #fff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.header-logo span{
    color: #D1232C;
}

.footer-01 .btn{
    color: rgb(165, 165, 165);
    width:50%;
}

.footer-01 .btn:hover{
    color:#fff;
    background-color: #b90009;
}

